.boxes{
    height : 400px;
    position: relative;
    overflow : hidden;
}

.project-container{
    background-color : rgba(52, 54, 64, 0.8);
    position : absolute;
    top : -100%;
    left : 0;
    height : 100%;
    width: 100%;
    padding : 15px;
    box-sizing: border-box;
    transition: all 1s;   
}

.project-container p {
    font-size: 16px;
    color: white;
}
.project-container strong {
    font-size: 16px;
}
.project-container a {
    text-decoration: none;
    font-weight: bold;
}
.boxes:hover .project-container{
    top: 0;
}
.title{
    color: turquoise;
    font-size: 30px;
    margin-bottom: 15px;
}

.link{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.link a{
    text-decoration: none;
    color: turquoise;
}
.link a:hover{
    text-decoration: none;
    color: turquoise;
}

@media only screen and (max-width: 1100px) {
    .project-container p {
        font-size: 13px;
    }
    .project-container strong {
        font-size: 15px;
    }
    .link{
        font-size: 17px;
        font-weight: 500;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .project-container p {
        font-size: 11px;
        color: white;
    }
    .project-container strong {
        font-size: 13px;
    }
    .link{
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 868px) {
    .link{
        font-size: 10px;
    }
}
@media only screen and (max-width: 718px) {
    .project-container p {
        font-size: 18px;
        color: white;
    }
    .project-container strong {
        font-size: 20px;
    }
    .link{
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .project-container p {
        font-size: 16px;
        color: white;
    }
    .project-container strong {
        font-size: 18px;
    }
    .link{
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 411px) {
    .link{
        font-size: 12px;
    }
}
@media only screen and (max-width: 375px) and (max-width: 411px) {
    .project-container p {
        font-size: 12px;
        color: white;
    }
    .project-container strong {
        font-size: 14px;
    }
    .link{
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }
}