.cardDiv .card {
    transition: transform 0.5s ease-in-out;
    background-color: #00101a;
    border: 1px solid blueviolet;
}
  
.card:hover {
    transform: translateY(-20px);
    box-shadow: 5px 20px 10px  rgba(2,12,27,0.7)
}

.card-body a{
    color: turquoise;
    border: 1px solid turquoise;
    padding: 7px 15px;
    border-radius: 5px;
}

.text-color{
    color: #ccd6f6;
}


/* @media screen and (max-width: 480px) {
    .margin {
        margin-left: 30px;
    }
} */

@media screen and (max-width: 768px) and (min-width: 480px) {
    .cardDiv .card {
      padding: 50px;
    }
}