.tools{
    border: 1px solid turquoise;
    background-color: #172a45;
    margin-top: 20px;
}

.tools ul{
    padding: 15px;
}

.tools ul li{
    color: turquoise;
    font-size: 20px;
    font-weight: 500;
}

.skillName h3{
    color: turquoise;
}

.heading, .toolsDiv h3{
    color: blueviolet;
}