.resume .download{
    background-color: blueviolet;
    border: blueviolet;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}
.resume .hire{
    background-color: #181a27;
    border: 2px solid blueviolet;
    border-radius: 5px;
    color: blueviolet;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.resume Button:hover{
    background-color: blueviolet;
}
.resume Button:focus{
    background-color: blueviolet;
}
.resume a{
    padding: 5px;
}
.abir img{
    height: 200px;
    border: 5px solid blueviolet;
    border-radius: 50px;
}
.text{
    color: turquoise;
    margin-top: 5px;
}
.hello, .textI{
    color:slateblue;
}
.name{
    font-size: 50px;
    font-weight: 700;
    color:turquoise;
}
.typical{
    margin-top: 160px;
}
.abir{
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 7px solid #ffffff50;
    float: left;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-image: linear-gradient(45deg, #08aeea, #2af598 100%);
    background:#08aeea50 url(../../images/abirs.png) no-repeat;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
    animation: morph 8s ease-in-out infinite 1s;
}
@keyframes morph {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@media only screen and (max-width: 992px) {
    .name{
        font-size: 35px;
        font-weight: 700;
    }
    .text{
        font-size: 28px;
    }
}

@media only screen and (max-width: 768px) {
    .name{
        font-size: 38px;
        font-weight: 700;
    }
    .text{
        font-size: 30px;
    }
    .typical{
        margin-top: 50px;
     } 
  }

@media only screen and (max-width: 425px) {
   .typical{
       margin-top: 50px;
    } 
  }