.icon a img{
    width: 50px;
}
.icon a{
    padding: 10px;
}
.resume Button{
    background-color: #FF6347;
    border: #FF6347;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
}
.resume Button:hover{
    background-color: #FF6347;
}
.resume Button:focus{
    background-color: #FF6347;
}