.title-divider {
    margin-top: 15px;
    margin-left: 70px;
}

.title-divider span:nth-child(1), .title-divider span:nth-child(2) {
    border-right-color: blueviolet !important;
}

.title-divider::before {
    content: "";
    display: block;
    position: relative;
    top:12px;
    width: 50px;
    height: 1px;
    margin-left: -70px;

}

.title-divider::after {
    content: "";
    display: block;
    position: relative;
    top:12px;
    width: 50px;
    height: 1px;
    margin-left: 20px;

}

.title-divider::before, .title-divider::after {
    background: blueviolet
}

.title-divider span:nth-child(1) {
    position: absolute;
    width: 2px;
    height: 25px;
    border-right: 2px dotted;
    transform: rotate(45deg);
}

.title-divider span:nth-child(2) {
    position: absolute;
    width: 2px;
    height: 25px;
    border-right: 2px dotted;
    transform: rotate(-45deg);
}

.aboutMe h2{
    color: white;
    margin-top: 45px;
}
.aboutMe .name{
    color: turquoise;
    font-size: 32px;
    font-weight: 500;
}
.aboutMe p{
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.contactDetail p{
    color: white;
}
.contactCard{
    padding: 30px;
    background-color: #172a45;
    border: 1px solid turquoise;
    margin-top: 120px;
}
.social a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .contactCard{
        margin-top: 50px;
    }
}